:root {
    --primary-colors: black;
    --secondary-colors: #ad5858;
    --heading-text-color: #333;
    --colors: white;
    --heading-font: 'Montserrat', 'Helvetica', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-colors);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--colors);
}

h1 {
    color: var(--heading-text-color);
    border: 0 0 1 0;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-colors);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    font-family: var(--heading-font);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--secondary-colors);
    color: var(--primary-colors);
}

aside h2 {
    position: absolute;
    top: 120px;
    left: 120px;
    color: var(--colors);
}