header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    max-width: fit-content;
    padding: 3px;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

main img {
    width: 31rem;
    height: auto;
    box-shadow: 0 0 30px rgb(34, 5, 5);
}

section {
    background-color: rgb(220, 203, 236);
    width: 30rem;
    display: block;
    margin: 15px auto;
    padding: 10px;
}

section h2 {
    border-bottom: 2px solid black;
}

section p,
li {
    display: block;
    padding: 5px;

}

footer {
    background-color: black;
    text-align: center;
    color: white;
    max-width: 650px;
    margin: 0 auto;
    font-size: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
}